html{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    background-color:#372725;
    height:100%;
    padding:0;
}

body{
    height:100%;
    width: 100%;
}

.fw-thin{
    font-weight: 300;
}

.fw-norm{
    font-weight: 400;
}

.fw-sembold{
    font-weight: 600;
}

.fw-bold{
    font-weight: 700;
}

.fc-light{
    color: #dbddbe;
}

.fc-dark{
    color: #222;   
}

.fc-highlight{
    color: #e8a932;
}

.fc-subdue{
    color:#747369;
}

.fc-blue{
    color: #7daf9c;
}

.fc-red{
    color: #ef5d32;
}

.underline{
    text-decoration: underline;
}

.center-horizontal{
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.center-vertical{
  position: relative;
  top: 40%;
  transform: translateY(-40%);
}

.fill-width{
    width: 100%;
}

.center-text{
    text-align: center;
}

h1{
    font-size: 60px;
}

h2{
    font-size: 40px;
}

h3{
    font-size: 20px;
}

h4{
    font-size: 16px;
}

.tab{
    margin-left: 2em;
}

.container{
}

#base-content{
    height: 100%;
}

/* font-awesome */
.fa { 
    display:inline; 
    vertical-align: middle;
}

/*Index*/
.profile-img{
    width: 150px;
    height: auto;
}

/*Projects*/
.project-logo-wide{
    max-width:250px;
    max-height:250px;
    margin:15px;
}

.project-logo-tall{
    max-width:250px;
    max-height:150px;
    margin:15px;
}