.navbar {
    width: 250px;
    height: 100%;
    background-color: #262626;
    padding: 0;
    float:left;
    line-height: 1.7;
}

.nav-item{
    margin:10px;
    white-space: nowrap;
}

.nav-link{
    font-size: 16px;
    color:#747369;
    text-decoration: none;
    font-weight: 400;
}

.nav-link:hover{
    color:#bdbbac;
}

.nav-bullet{
    font-size: 9px;
    display: inline-block;
}